@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
  font-family: "Poppins", "sans-serif";
}

.App{
  background-image: url('./static/images/background.jpg');
  height: 100vh; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.todoListComponent{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 10px;
  margin-top: 10px;
  width: auto;
}

.todo-input-form{
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 8px;
}

.homeComponent{
  background-color: beige;
  height: 100vh;
  width: 50%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.error404Component{
  position:absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.errorHomeLink{
  text-decoration: none;
}

.completedListComponent{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 10px;
}

.completedListHeading{
  display: flex;
  align-self: center;
}