@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
  font-family: "Poppins", "sans-serif";
}

.App{
}

.todoListComponent{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 10px;
}

.todo-input-form{
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 8px;
}

.homeComponent{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.error404Component{
  position:absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.errorHomeLink{
  text-decoration: none;
}